html,body{
    padding: 80px !important;
    background-color:#f8f9fa !important;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px 20px 0 10px !important;
}

.navbar{
    padding:40px 20px 0 10px !important;
    display: flex;
    align-items: flex-end 	 !important;
}

.navbar-brand{
    font-size:23px !important;
}

.nav-item{
    padding: 10px !important;
    display: flex;
    align-items: flex-end 	 !important;
}

.landing-page{
    text-align: center;
}

.my-container{
    width:90%;
    height:100%;
    flex:1;
    position:relative;
}

#my-frame{
    height:auto;
}
